.Menu_Container {
    width: 100%;
}

.Menu_Container .Menu_Search {
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 100px;
    width: 40%;
    height: 2rem;
    font-size: inherit;
    font-family: inherit;
}

@media only screen and (max-width: 37.5rem) {
    .Menu_Container .Menu_Search {
        width: 70%;
    }
}